*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background-color:white ;
    min-height: 100%;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    height: 40px;

}

header .logo{
    height: 40px;
}

header button{
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #a1a0a0;
    cursor: pointer;
}

main{
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}

.hero{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 80px;
}


.hero .hero-img{
    padding-right: 50px;
    margin-left: 80px;
    
}

.hero .hero-img img{
    height: 360px;
    width: 480px;
}

.hero .hero-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 40px;
}

.hero .hero-button .hero-h1{
    padding-bottom: 50px;
    font-size: 34px;
    color: #555555;
    font-family: 'Poppins','Segoe UI', 'Nunito', sans-serif;
}


.hero .hero-button .btn{
    padding: 15px 40px;
    border-radius: 12px;
    margin: 10px 0;
    margin-right: 30px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    max-width: 340px;
    width: 100%;
}

.hero .hero-button .btn-start{
    background-color: #60d705;
    color: white;
    border: none;
    box-shadow: 0 4px #48a504;;
}

.hero .hero-button .btn-account{
    color: #0debef;
    background-color: white;
    border: 2px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}





footer{
    padding-top: 200px;
    background-color: #60d705;
    padding-left: 220px;
    padding-right: 220px;
    background-size:cover;
    font-family: "Segoe UI", sans-serif;
    
    bottom: 0;
}

footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
    padding: 40px;
}

footer .end{
    display: flex;
    flex-direction: column;
}

footer .h4-footer{
    color: white;
    font-size: 18px;
    margin-bottom: 9px;
}

footer .footer-links .a-footer{
    color: #e0e0e0;
    margin: 6px 0;
    cursor: pointer;
    list-style: none;
    border: none;
    text-decoration: none;
}

footer .footer-language{
    border-top: 1px solid #f3ececc0;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 60px;
    padding: 40px;
}

footer .footer-language .a-footer{
    margin: 0 10px 10px 0px;
    color: #e0e0e0;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}





